#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
}

#fuelSelection{
  position: absolute;
  top: 14px;
  left: 20px;
  padding: 15px;
  background-color: #ceedef;
  border-radius: 10px;
  font-size: 18px;
  height: 58px;
  font-style: normal;
}

#myFuels{
  font-size: 14px;
}

.header-button {
  font-style: normal;
  font-size: 16px;
  top: 11px;
  height: 59px;
  background-color: #eee;
  border: 2px solid #eee;
}

.buttonSuperPro {
  position: relative;
  left: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #41abd6;
  border-radius: 10px;
  margin-top: 1px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  width: 140px;
  font-size: 14px;
  transition: 0.4s;
}

.load-input-values-button {
  top: 85px;

}


#SuperPro_All, #default_All{
  position: absolute;
  top: 85px;
  left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #41abd6;
  border-radius: 5px;
  margin-top: 1px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  width: 140px;
  font-size: 14px;
  transition: 0.4s;
}

#SuperPro_All {
  position: absolute;
  top: 85px;
  left: 189px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #41abd6;
  border-radius: 5px;
  margin-top: 1px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  width: 140px;
  font-size: 14px;
  transition: 0.4s;
}

.buttonDefault {
  position: relative;
  top: -33px;
  left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4c035e;
  border-radius: 10px;
  margin-top: 1px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  width: 140px;
  font-size: 14px;
  transition: 0.4s;
}

#buttonGHG {
  position: absolute;
  left: 350px;
  padding-top: 16px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-top: 1px;
  box-shadow: 1px 2px 2px #a1a4a8;
  cursor: pointer;
  text-align: center;
  width: 160px;
  font-style: normal;
  transition: 0.4s;
}

#buttonConsWater {
  position: absolute;
  left: 530px;
  border-radius: 10px;
  margin-top: 1px;
  box-shadow: 1px 2px 2px #a1a4a8;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  text-align: center;
  width: 160px;
  transition: 0.4s;
}

#buttonWithWater {
  position: absolute;
  left: 710px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-top: 1px;
  box-shadow: 1px 2px 2px #a1a4a8;
  cursor: pointer;
  text-align: center;
  width: 160px;
  transition: 0.4s;
}

#chart {
  position: fixed;
  top: 120px;
  left: 460px;
}

.main-svg {
}


h3 {
  margin:0px;
}

h4 {
  margin:2px;
  text-align: center;
  text-decoration: underline;
}

input {
  width: 35px;
  margin-right:10px;
  margin-bottom:5px;
  padding-left: 3px;
}

form {
  padding-bottom: .2em;
}

.tooltip-wrap {
  position: relative;
}

.tooltip-content {
  display: none;
  position: absolute;
  background-color: #c8b3e0;
  padding: 0.2em;
  z-index: 99;
  color: #000;
  border: 1px solid #000;
  font-size: 14px;

}

.tooltip-wrap:hover .tooltip-content {
  display: block;
  border-radius:2px;
  position: absolute;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  position: relative;
  top: 130px;
  left: 19px;
  background-color: #eee;
  color: #444;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  width: 410px;
  text-align: left;
  transition: 0.4s;
  border-radius: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  position: relative;
  top: 135px;
  left: 19px;
  padding: 5px;
  background-color: #f7f7f7;
  /* outline: 1px solid #707070; */
  width: 410px;
  margin: 0px;
  display: none;
}


.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

#files{
  position:absolute;
  top: 500px;
  left: 50px;
}
